
* {
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 0.9rem;
}

.news_meduiem {
    width: 400px;
    height: 80px;
    margin-right: 0px;
}

.square {
    height: 10px;
    width: 10px;
    background-color: #fa9000;
}

.img_large {
    width: 100%;
    margin-left: 10px;
    margin-top: 60px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    object-fit: fill;
}

.news_right {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.inner_text {
    width: 250px;
    height: 80px;
    margin-right: 140px;
    margin-top: -80px;
}

.inner_text p {
    display: none;
    font-size: 12px
}

.img_meduiem {
    width: 140px;
    height: 80px;
    margin-right: 0px;

    float: right;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.live_text {
    font-size: 14px;
    font-family: Arial;
    font-weight: 700;
}

.red {
    color: red;
}

.splited_content {
    max-width: 400px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px;
    margin-top: 10px;
}

.content_small {
    float: right;
    width: 400px;
    height: 80px;
    display: block;

}

.img_small {
    width: 140px;
    height: 70px;
    float: right;

}

.content_small p {
    display: none;

}

.content_small div {
    float: left;
    max-width: 240px;
    margin-top: 10px;

}

.main_news {
    display: flex;
    flex-direction: column;
    height: min-content;
    max-width: 600px;
    margin-left: 0px;
    aspect-ratio: inherit;
}

.news_right {
    margin-top: 80px;
    height: 100%;

}

.news_content {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 10px;

}


.news_content .square {
    width: 10px;
    margin-top: 0px;
    height: 100px;
}

.text_main {
    margin-left: 20px;
    margin-top: -100px;
}


.news_content h2 {
    font-size: 22px;
    max-width: 300px

}

.news_content p {
    max-width: 350px;
}

.divrightcontent {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}

.container {
    display: inline-block;
    max-width: 100%;
    grid-template-columns:150vh;
    grid-template-rows: 270vh;

}

.news--small {
    margin-left: 5px;
    width: 100%;
    height: 120px;
    padding: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);


}

.news_img {
    padding: 0px;
    max-width: 100%;
    max-height: 100%;
    float: right;
    padding: 10px;
    margin-right: auto;
    margin-top: -10px;
}

.news_img-primery {
    object-fit: contain;
    height: 120px;
    width: 150px;
    margin-top: 0px;
    padding: 1px;

}

.news_title a {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;

}

.news_text--defualt {
    display: none;
}

.news_text {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}

.quotes {
    margin: 5px;
    padding: 5px;
    max-width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);


}

.quotes .square {
    margin-left: 65px;
    margin-top: -25px;
}

.quotes p {
    padding-left: 10px;
}

.quotes_text {
    margin: 1px;
    display: grid;
    grid-template-columns: 400px;

}

.quotes_text i {
    margin-left: 70px;
    padding: 0px;
    float: left;
}

.quotes_img {
    width: 50px;
    height: 50px;
    border-radius: 50%
}

.quotes_icon {
    font-size: 12px;
    font-weight: 100;
    color: gray;
    float: right;
    margin-right: 160px;
    margin-top: -15px
}

.quotes_title {
    margin-left: 60px;
    margin-top: -60px;
}

.quotes_name {
    font-size: 14px;
    font-weight: normal;
    color: gray;
    font-family: Roboto;
    margin-left: 90px;
    margin-top: -14px;
}

.quotes_text li {
    padding: 10px;
    margin-right: 100px;
    list-style: none;
}

.pic_gallery {
    margin-left: 5px;
    max-width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2);

}

.img--full {
    width: 100%;
}

.pic_gallery div {
    display: inline-block;

}

.pic_gallery .square {
    width: 70px;
    height: 10px;
    margin-left: 20px;
    margin-top: -40px;
}

.container_img {
    display: inline-flex;
    height: 100%;
}

.gallery_img--small {
    margin-top: 0px;
    max-width: 32.3%;
}

.gallery_title {
    padding-left: 15px;
    margin-top: -10px;
}

.gallery_text {
    padding-left: 15px;
    font-weight: 100;
    color: gray;
}

.news--large {
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    float: left;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    width: 100%;
    height: 100%;

}

.news--large .square {
    width: 10px;
    height: 20px;
    margin-left: 30px;
    margin-top: 10px;
}

.news_element h2 {
    margin: 10px;

}

.news_element {
    display: flex;
    width: 100%;
    margin: 5px;
}


.picslide {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    padding: 5px;
    margin: 5px;
}

.pic_slide_img {
    width: 100%;
}

.news_vedio {
    width: 100%;
    height: 100%;

    margin-top: 10px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);

}

.news_vedio .square {
    width: 100px;
    height: 10px;
    margin-left: 00px;

}

.video {
    width: 100%;
}

.vedio_title {
    padding-left: 5px
}

.vedio_text {
    font-size: 18px;
    color: gray;
    padding-left: 5px;
}

.site-footer {
    margin-left: 0px;
    max-width: 100%;
    margin-top: 0;
    padding-top: 0px;
    padding: 0px;
    display: none;

}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.footer_accordion {
    display: block;
    color: #444;
    width: 100%;

}

.footer_icon {
    margin-left: 40px;
    padding: 10px;
}

.footer_icon--small {
    object-fit: cover;
    width: 30px;
    margin: 5px;
}

.footer_icon--large {
    margin-left: -20px;
    padding: 10px;
}

.footer_text {
    margin-left: 40px;
    padding: 10px;
}

.footer_icon--large img {
    margin-left: 80px;
    width: 150px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 10px;
    display: none;
    overflow: hidden;
}

.panel div {
    padding: 10px;

    background-color: #fa9000;

}

.panel div:hover {
    background-color: white;
}

.large {

    margin-left: 5px;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    height: 100%;

}

.large img {
    object-fit: fill;
    width: 100%;

}

.title_large {
    margin-top: -60px;
    margin-bottom: 40px;
    margin-left: 40px;
    color: white;
}

.large .slider_container {
    max-width: 100%;
    margin: 0px;
    display: inline-flex;

}

.large .slider_box {

    margin: 10px;
    padding: 5px;
    display: block;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
}

.slider_box p {
    font-size: small;
    margin: 0px;
    max-width: 100%;

    white-space: pre-wrap;

}


.related_topic {
    display: none;
    max-width: 100%;
    margin: 5px;


    padding: 10px;
}

.ads {
    display: none;
}


.ham_menu_icon {
    display: block;
    cursor: pointer;

    margin-right: 30vh;
}

.logo {
    margin-left: -40px;
}


.mobile-container div {
    background-color: white;
}

.mobile-container {
    display: block;
    position: fixed;
    width: 100%;
    margin-top: -3px;
    max-height: 600px;
    border-radius: 10px;
}

.mobile-container-search {
    max-height: 30px;
    max-width: 100%;
    margin-top: 10px;
}

.ham_menu {
    float: left;
    width: 10px;
    margin-left: 350px;
    margin-top: -40px;
    display: block;
}

.liveicon {
    display: block;
    float: left;
    width: 20px;
    position: fixed;
    margin-top: -40px;
    margin-left: 300px;
}

.footerend {
    display: table-caption;
    color: #444;
    float: right;
    width: 100%;
}

.footerend i {
    font-size: 16px;
    color: gray;
    font-family: Roboto;
}

.footerend div {
    align-content: center;
    background-color: #eee;
}


.PopUp_nav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    display: none;
}

.PopUp_nav #myLinks {
    display: none;
}

.PopUp_nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}


.active {
    color: white;
}

.responsivenav {
    display: block;

}

.responsivenav:hover .show {


}

.show {
    display: block;
    position: relative;

}

.responsivenav .icon {
    float: left;
    display: block;
    position: relative;
    margin-left: 30vh;
    margin-top: -30px;
    margin-bottom: 1vh

}


.show a {
    padding-top: 5px;
    float: none;
    display: block;
    text-align: left;
}

.aljazer_logo {
    display: none;
}

.nav_item {
    margin-top: -40px;
    display: none;
    grid-template-columns: 10%;
    float: right;

}

.nav_item span {
    margin-left: 25px;

}

.nav_item a:hover {
    color: #fa9000;
}

.header {
    border: 1px solid beige;
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    overflow: hidden;
    position: fixed;
    top: 0px;
    background: white;


}

.logo_img {
    object-fit: cover;
    width: 60px;
    height: 100%;
}

.liveicon--small {
    width: 20px;
}

.logo {
    width: 20px;
    margin: 0px;
}

@media screen and (min-width: 768px) {

    body {
        font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

    }

    .header {
        border: 1px solid beige;
        width: 1400px;
        height: 60px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
        overflow: hidden;
        position: fixed;
        top: 0px;
        background: white;


    }

    .logo {
        margin-left: 0px;
        padding-left: 20px;
    }

    .logo_img {
        object-fit: cover;
        width: 60px;
        height: 100%;
    }

    .aljazer_logo {
        text-decoration: none
    }

    .aljazer_logo i {
        font-size: 25px;
        font-family: 'Roboto';
        color: #fa9000;
        text-align: center
    }

    .liveicon {
        display: none;
    }

    .liveicon--small {
        width: 20px;
    }

    .ham_menu {
        display: none;
    }

    .mobile-container {
        display: none;
    }

    .responsivenav {
        display: none;
    }

    .show {
        display: none
    }

    .nav_item {
        margin-top: -40px;
        margin-left: 125px;
        display: block;
        float: none;

    }

    .nav_item img {
        width: 20px;
    }

    .main_news {
        display: block;
        height: 760px;
        overflow: hidden;
        padding: 1px;
        max-width: 1360px;
    }

    .img_large {
        margin-left: 40px;
        margin-bottom: 50px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
        object-fit: fill;
        width: 500px;
    }


    .news_content {
        border-bottom: 0px;
    }

    .news_content .square {
        width: 100px;
        height: 10px;
        margin-left: 40px;
        margin-top: -50px;
        position: absolute;
    }

    .text--bold {
        font-weight: 700;
    }

    .ads {
        float: right;
        width: 200px;
        height: 300px;
        margin-top: 20px;
        margin-right: 80px;


    }

    .ads_img {
        width: 200px;
        height: 100px;
        object-fit: fill;
    }

    .text_main {
        float: left;
        width: 400px;
        margin-top: -40px;
        margin-left: 50px;
    }

    .text--gray {
        font-size: 16px;
        color: gray;
    }

    .splited_content {
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows:unset;

    }

    .content_small {
        width: 350px;
        height: 150px;
        margin-top: 20px;
        display: flex;
    }

    .img_small {
        height: 140px;
        width: 150px;
    }

    .content_small div {
        float: right;
        margin-left: 10px;
        margin-top: -15px;
        padding-top: 1px;
        height: 150px
    }

    .content_small div h2 {
        font-size: 14px;
        font-family: Arial;
        font-weight: 600;
    }

    .content_small div p {
        font-size: 12px;
        font-family: Roboto;
        color: gray;
        object-fit: cover;
        overflow: hidden;
    }

    .news_meduiem {
        width: 600px;
        height: 150px;
        margin-top: -140px;
    }

    .inner_text h2 {
        font-size: 16px;
        font-family: Arial;
        font-weight: 600;
        white-space: break-spaces;
    }

    .inner_text p {
        font-size: 14px;
        font-family: Roboto;
        color: gray;
        white-space: break-spaces
    }

    .img_meduiem {
        height: 150px;
        width: 300px;
        float: none;

    }

    .ham_menu_icon {
        display: none;
    }

    .slider_box {
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .2);
        margin: 10px;
        padding: 10px;
    }

    .slider_box img {
        width: 100%;
    }

    .slider_box p {
        width: 100%;
        padding: 5px;
        font-family: Arial;
        font-size: 16px;
        font-weight: 500;
    }

    .slider_container {

        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 300px;
        margin: 30px;
    }

    .container_img {
        height: 450px;
    }

    .inner_text {
        float: right;
        margin-top: -160px;
        margin-left: 320px;
        width: 290px;
        margin-right: 0px;

    }


    .header a {
        transition: width 2s, height 4s;
        margin-bottom: 20px;
        padding-left: 25px;
        align-content: center;
        font-size: 16px;
        font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        text-decoration: none;
        color: black;
        font-weight: 500;

    }

    .header a:hover {

        text-decoration: underline;

    }

    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }


    .large {
        margin-top: 20px;
        padding: 30px;
        overflow: hidden;
        float: left;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
        height: 100%;
        width: 750px;
        background: white;
        margin-left: 110px;

    }


    .large_img {
        width: 100%;
        margin-top: -40px;

        height: 350px;
        object-fit: contain;
    }

    .news--large {

        height: 320px;
        width: 770px;
        background: white;
        margin-left: 110px;
    }

    .news_vedio {
        margin: 20px;
        padding: 20px;
        overflow: hidden;
        float: left;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
        height: 400px;
        width: 770px;
        background: white;
        margin-left: 110px;

    }


    .pic_slide_text {
        color: gray;
        font-size: 14px;
        font-family: Roboto;
    }

    .pic_slide_img {
        width: 200px;
    }

    .picslide {
        margin: 15px;
        margin-top: 0px;
        width: 200px;
        height: 250px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
        padding: 5px;
    }

    .pic_gallery {
        margin-top: 10px;
        overflow: hidden;
        float: left;

        width: 810px;
        background: white;
        margin-left: 110px
    }

    .pic_gallery div {
        display: block;
    }


    .img--full {
        width: 590px;
        height: 410px;
        float: left
    }

    .gallery_img--small {
        width: 200px;
        float: right;
        margin-right: 5px;
        padding: 2px
    }

    .news--small {
        margin: 10px;
        padding: 30px;
        overflow: hidden;
        float: left;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
        height: 150px;
        width: 750px;
        background: white;
        margin-left: 110px;

    }

    .news_text {
        margin-left: -150px;
        margin: 0px;
    }

    .news_title {
        white-space: break-spaces;
    }

    .news_text--defualt {
        font-size: 16px;
        font-family: Roboto;
        color: gray;
        white-space: break-spaces;
        display: block;
    }

    .news_img {
        width: 250px;
        height: 100%;
        float: right;
        padding: 10px;
        margin-top: 20px;
    }

    .news_img-primery {
        height: 190px;
        margin-top: -50px;
        object-fit: fill;
        margin-left: 30px;
        width: 250px;
    }

    .quotes {
        margin: 10px;
        padding: 15px;

        overflow: hidden;
        float: left;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
        height: 350px;
        width: 780px;
        background: white;
        margin-left: 110px;
    }

    .quotes_text {
        display: flex;
        padding: 5px;
        margin-right: 10px;
    }

    .imagesmall {

        object-fit: cover;
        width: 150px;
        height: 150px
    }

    .h2 {
        color: gray;
        text-decoration: none;
        margin: 5px;
    }

    div {
        background-color: white;

    }

    span {
        background-color: white;

    }

    .note {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
        height: 15px;
        border-left: 2px solid #fa9000;
        padding: 10px;
        color: gray;
        font-size: 16px;
        text-align: left;

    }

    .borderbott {
        box-shadow: 0 4px 2px 0 rgba(0, 0, 0, .2);
    }

    .imagesinnote img {
        width: 20px;
        object-fit: cover;
        float: right;
        padding-left: 10px;
    }

    .square {

        height: 10px;
        width: 10px;
        background-color: #fa9000;


    }

    .container {
        width: 1300px;
        font-family: Roboto;
        background-color: #f0f0f0;
        overflow: hidden;

    }

    .news {
        padding: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
        width: 360px;
        margin: 1px;

    }

    .site-footer {
        display: block;
        clear: both;
        height: 600px;
        padding-bottom: 60px;
        border-top: 2px solid #bebebe;
        margin-top: 300px;
        background: white;
    }

    .footer-border {
        border-top: 1px solid gainsboro;
        padding-top: 10px;
        width: 100%;
    }

    .subfot-text {
        padding-left: 100px;
        color: gray;
        font-family: 'Roboto ';
        font-size: medium;
        margin-bottom: 10px;
    }

    .subfot-icons {
        width: 200px;
        margin-left: 100px;
    }

    .subfot-icons--small {
        object-fit: cover;
        width: 20px;
        margin: 5px;
    }

    .subfot-icons--large {
        width: 150px;
        margin-left: 110px;
        margin-top: 10px;
    }

    .subfot-text-copyright {
        padding-left: 100px;
        color: gray;
        font-family: Arial;
        font-size: small;
        margin-top: 10px;
    }

    .subfot {
        width: 500px;
        float: right;
        font-style: italic;
        margin-top: 250px;
        margin-right: -100px;

    }

    .footer_inside li a {
        font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        padding-top: 15px;
        color: gray;
        font-size: 16px

    }

    .footer_inside li {
        padding-top: 10px;
    }

    li {
        list-style: none;

    }

    .related_topic {
        float: right;
        font-style: italic;
        margin-top: 20px;
        margin-right: 80px;
        width: 250px;
        height: 450px;
    }

    .related_topic .square {
        margin-left: 90px;
        margin-top: -30px;
    }

    .related_topic--text {
        padding: 5px;
        font-size: 14px;
        font-weight: 600;
    }

    .news_right {
        float: right;
        margin-right: 100px;
        margin-top: -250px;
        width: 650px;
        height: 550px;

    }

    .main_news p {
        display: block;
    }

    .footer_head {
        margin-top: 60px;
        margin-left: 130px;
        display: flex;
        grid-column-gap: 145px;
        padding-left: 10px;
        font-weight: 700;
        white-space: nowrap;
    }
    .footer_head a {
        font-size: 16px;
    }

    .footer_accordion {
        display: none;
    }

    .footer_inside {

        padding-top: 20px;
        margin-left: 100px;
        grid-column-gap: 150px;
        grid-row-gap: 5px;
        grid-template-rows: max-content;
        grid-template-columns: max-content;
        padding-left: 15px;
        display: flex;
        font-size: 15px;
        padding-bottom: 40px;

    }

    .footer_inside div {
        display: grid;
    }

}
